
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
body{
  font-family: 'Roboto', sans-serif;
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 200px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 20px;
  left: 0;
  background-color: #1eb98f;
  border-radius: 5px;
  padding: 10px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  i{
    margin-right: 10px;
  }
  &:hover, &:focus, &:active{
    background-color: #1fa582;
  }
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #0b8b68 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 15px;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
  background-color: #1eb98f;
  border-radius: 5px;
  &:after{
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-color: transparent  transparent #1eb98f  transparent ;
    top: -14px;
    right: 15px;
  }
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 8px;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  i{
    margin-right: 10px;
  }
}
.select-options li:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.select-options li:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.select-options li:hover {
  background: #1fa582;
  color: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}
form{
  width: 280px;
  padding: 50px;
  button{
    float:right;
    background-color: #1eb98f;
    padding: 12px 15px;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    cursor: pointer;
    &:hover, &:focus, &:active{
      background: #1fa582;
    }
  }
}
